/* .shadow-dance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: #000000;
  margin-top: 10px;
}
.shadow-dance-text {
  font-size: 4rem;
  color: #fff;
  text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
  animation: shadow-dance 2s infinite;
}

@keyframes shadow-dance {
  0%,
  100% {
    text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
  }
  50% {
    text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff005e;
  }
}


@media screen and (max-width: 768px) {
  .shadow-dance-text {
    font-size: 2.5rem;
  }
    
}

@media screen and (max-width: 480px) {
  .shadow-dance-text {
    font-size: 1.6rem;
  }
    
  .shadow-dance-container{
    height: 10vh;
  }
} */

/* بديل أبسط */
.shipping-container {
/* margin-top: 10px; */
  width: 100%;
  overflow: hidden;
  background-color: #221f1f;
  padding: 8px 0;
  direction: rtl;

}

.shipping-bar {
  width: 100%;
}

.sliding-text {
  display: inline-block;
  white-space: nowrap;
  color: rgb(255, 254, 254);
  font-weight: bold;
  font-size: 14px;
  animation: slideText 18s linear infinite;
  padding: 0 20px;
}

@keyframes slideText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}