.ad-backdrop{position:fixed;inset:0;display:flex;align-items:center;justify-content:center;background:rgba(0,0,0,0.4);z-index:9998}
.ad-card{background:#fff;padding:18px;border-radius:12px;display:flex;flex-direction:column;align-items:center;gap:12px}
.ad-card img{width:320px;max-width:80vw}
/* .ad-close{padding:8px 12px;border-radius:8px;border:1px solid #111;background:#111;color:#fff;cursor:pointer} */
.ad-close{padding:8px 12px;border-radius:8px;border:1px solid #000000;background:#000000;color:#fff;cursor:pointer}
.christmas-text{font-size:18px;color:#012208; letter-spacing: 0.5px;
font-weight: 400;}