.product-card {
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  max-width: 270px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}
.product-card p {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
}

.In-Stock {
  color: green;
  font-size: 12px;
}
.Out-of-Stock {
  color: red;
  font-size: 12px;
}
.image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: linear-gradient(15deg, #e6e2e5 0%, #ffffff 100%);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-card .meta {
  color: #666;
  font-size: 17px;
}
.price {
  font-weight: 700;
}
.actionsBtn {
  display: flex;
  gap: 35px;
  margin-top: auto;
}

.btn {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #111;
  background: transparent;
  cursor: pointer;
}
.primary {
  background: #111;
  color: #fff;
}
.rank {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #000;
  color: #fff;
  padding: 6px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* إضافة إلى ProductCard.css */
.product-card {
  cursor: pointer; /* تغيير المؤشر للإشارة إلى أنه قابل للنقر */
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.actions {
  pointer-events: auto; /* السماح بالأحداث على الأزرار */
}
@media screen and (max-width: 480px) {
  .product-card{
    padding: 12px 0px 12px 0px;
  }
  .product-card img {
    /* height: 200px; */
    height: auto;
  }
  .product-card p {
    font-size: 18px;
  }
  .product-card .meta {
    font-size: 13px;
  }
  .price {
    font-size: 16px;
  }
  .actionsBtn {
    gap: 5px;
  }
  .btn {
    padding: 5px 6px;
    font-size: 9px;
  }
  .rank {
    width: 24px;
    height: 24px;
    font-size: 12px;
    padding: 3px;
  }

}
