.container {
  /* max-width: 2500px; */
  padding: 0 0 80px 0;
  background: linear-gradient(135deg, #f8f9fa 0%, #ffffff 100%);
}
footer {
  padding: 24px;
  text-align: center;
  color: #777;
}
@media screen and (min-width: 768px) {
  .container {
    /* max-width: 750px; */
    margin: 0 auto;
  }

  .header-inner{
    padding: 0 10px;
    justify-content: space-between;
  }
  
}
