.promo-banner {
  background: #111;
  color: #fff;
  padding: 48px 0;
  margin-top: 18px;
}
.promo-inner {
  /* max-width: 1200px; */
  margin: 0 auto;
  text-align: center;
  height: auto;
}
.promo-inner h2 {
  font-size: 28px;
  letter-spacing: 1px;
}
@media (max-width: 600px) {
  .promo-inner h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .promo-inner h2 {
    font-size: 16px;
  }
  
}
