/* components/CartSidebar/CartSidebar.css */
.cart-sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 350px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.cart-sidebar.open {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
  background-color: #f8f9fa;
}

.cart-header h2 {
  margin: 0;
  color: #2c3e50;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #7f8c8d;
}

.cart-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.empty-cart {
  text-align: center;
  color: #7f8c8d;
  margin-top: 50px;
}

.cart-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.cart-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.item-details {
  flex: 1;
}

.item-details h4 {
  margin: 0 0 5px 0;
  font-size: 15px;
}

.item-details p {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}

.quantity-controls {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.quantity-controls button {
  width: 25px;
  height: 25px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.quantity-controls span {
  margin: 0 8px;
}

.remove-btn {
  background-color: transparent;
  color: rgb(77, 75, 75);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.cart-footer {
  margin-top: auto;
  padding-bottom: 20px;
  border-top: 1px solid #eee;
}

.cart-total {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
}
.cart-total p {
  display: flex;
  justify-content: space-between;
}

.cart-total span {
  font-weight: normal;
  font-size: 16px;
  color: #7f8c8d;
}
.cart-actions {
  display: flex;
  justify-content: space-between;
}

.cart-actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;}

.clear-btn {
  background-color: #7a797a;
  color: white;
}

.checkout-btn {
  background-color: #9634b4;
  color: white;
}

/* overlay when cart is open */
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.cart-overlay.open {
  display: block;
}